.flex {
  display: flex;
}

.middle {
  align-self: center;
  padding: 2rem;
  font-size: 2rem;
}
.set-price {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  padding-left: 5px;
  color: #01579b;
}
